extends ../layout.jade


block content         

    - var count=0

    div.row
        div.one.column
            | Dept.
        div.four.columns
            | Instructors

    each item in departments

        - count = 0
        each c in item.courses
            - count = count + c.CoursesTaught.length
        div.row
            div.one.column
                include field_name        
            div.four.columns
                include field_instructors
            div.three.columns
                = item.courses.length
            div.two.columns
                | Total number of courses taught by all instructors
                = count



