extends ../layout.jade

block content         

    div.row
        div.one.column
            strong= "Dept."
        div.four.columns
            strong= "Instructors"
        div.seven.columns
            strong= "Statistics"

    each item in departments
        div.row
            div.one.column
                include field_name        
            div.four.columns
                include field_instructors
            div.seven.columns
                include field_stats

