extends ../layout.jade

block content         

    div.row
        div.one.column
            | Dept.
        div.four.columns
            | Instructors
        div.three.columns
            | Total Intructors
        div.three.columns
            | Total Courses Taught
    each item in departments
        div.row
            div.one.column
                include field_name        
            div.four.columns
                include field_instructors
            div.three.columns
                = item.courses.length
            div.three.cloumns
                -var counter = 0
                each c in item['courses']
                    -counter += c.CoursesTaught.length
                = counter
