extends ../layout.jade

block content         

    div.row
        div.three.columns
            | Name
        div.four.columns
            | Courses Taught

    each item in instructors
        div.row
            div.three.columns
                a(href='/view/instructor/' + item.name)= item.name
            div.four.columns
                each course in item.Courses 
                   p #{course.subject} #{course.number}

