extends ../layout.jade

block content         

    div.row
        div.three.columns
            | Name
        div.four.columns
            | Courses Taught

    each item in instructors
        div.row
            div.three.columns
                include field_name        
            div.four.columns
                each item1 in item.Courses
                        = item1.subject + " " + item1.number + " "

