extends ../layout.jade

block content         

    div.row
        div.three.columns
            | Name
        div.four.columns
            | Courses Taught

    each item in instructors
        div.row
            div.three.columns
                include field_name        
            div.four.columns
                include field_courses_taught

