extends ../layout.jade

block content         

    h1= item['name']

    for c in item["Courses"]
        b Corse title:
        = "   " + c.title
        br
        b Subject:
        = "   " + c.subject
        br
        b Number:
        = "   " + c.number
        br
        b Year Term:
        = "   " + c.yearTerm
        br
        b Instructor Ave:
        = "   " + c.avgInstructor
        br
        br