div.row
  a(href="/course/list/instructor/" + item.insname1)
    = item.insname1
div.row
  = item.insttl1
div.row
  a(href="/course/list/instructor/" + item.insname2)
    = item.insname2
div.row
  = item.insttl2
div.row
  a(href="/course/list/instructor/" + item.insname3)
    = item.insname3
div.row
  = item.insttl3